{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">Reset Password</h2>
        <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="id_email">Email address:</label>
                <input type="email" name="email" class="form-control" id="id_email" required>
                {% if form.email.errors %}
                    <div class="alert alert-danger">
                        {{ form.email.errors }}
                    </div>
                {% endif %}
            </div>
             <br><br>
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
        </form>
        <br>
    </div>
</div>
{% endblock %}
