{% extends 'base.html' %}
{%load static %}
{% block title %}Privacy and Policy{% endblock %}
{% block content %}

<div class="container">
    <h1>Privacy And Policy</h1>
    <h2>Welcome to <strong><i>Adama Smart Online Shopping</i></strong></h2>
    <p>We value your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, and share your data when you visit or make a purchase from <strong>Adama Smart Online Shopping</strong>.
    </p>
    <br>
    <h3> 1. Information We Collect</h3>
    <h4>Personal Information</h4>
    <p>
        When you make a purchase or attempt to make a purchase through the Site, we collect certain information from you, including your name, billing address, shipping address, payment information (including credit card numbers), email address, and phone number. We refer to this information as “Order Information.”
    </p>
    <h3>2. How We Usse Your Information</h3>
    <h4>Order Fullfillment</h4>
    <p>
        We use the Order Information that we collect generally to fulfill any orders placed through the Site (including processing your payment information, arranging for shipping, and providing you with invoices and/or order confirmations).
    </p>
    <h4>Communication</h4>
    <p>
        We use your Personal Information to communicate with you, provide customer support, and notify you about updates, promotions, and relevant information related to your purchase.

    </p>
    <h4>Advetising and Retargeting</h4>
    <p>
        With your consent, we may use your information to provide you with targeted advertisements or marketing communications we believe may be of interest to you.
    </p>

    <h3>3. Sharing Your Information</h3>
    <p>
        We do not sell, trade, or otherwise transfer your personal information to third parties without your consent, except as described below:
    </p>
    <h4>Service Provider</h4>
    <p>
        We share your Personal Information with third-party service providers that assist us in operating our Site, conducting our business, or servicing you, so long as those parties agree to keep this information confidential.
    </p>
    <h4>Legal Disclosure</h4>
    <p>
        We may disclose your Personal Information if we are required to do so by law or in response to
        legal process, such as court orders, warrants, or subpoenas.
    </p>
    <h4>Business Transfer</h4>
    <p>
        We may disclose your Personal Information if we sell or transfer all or a portion of our business or
        assets, such as in the event of a merger, acquisition, reorganization, dissolution, or
        other business transaction.
    </p>
    <h3>4. Children's Privacy</h3>
    <p>
        Our Site is not intended for individuals under the age of 13. We do not knowingly collect personal information from children under 13. If you are the parent or guardian and believe your child has provided us with personal information, please contact us to request deletion.
    </p>
    <h3>5. Change To This Privacy Policy </h3>
    <p>
        We may update this Privacy Policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal, or regulatory reasons. We encourage you to review this Privacy Policy periodically.
    </p>
    <h3>6. Contact Us</h3>
    <p>
        For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us <a href="{%url 'contact_us' %}">here</a> or by email at supergs290@gmail.com.

    </p>
 
        
        <p>Adama Smart Online Shopping <br>
        Adama mebrat hayle ST <br>
        Adama, Ethiopia <br>
        Ethiopia</p>
        
  
</div>
    
{% endblock %}